$--meetControl-bgc: rgb(173 171 171 / 44%);
$--meetControl-gray-3: rgb(132 131 131 / 45%);
$--meetControl-gray-2: rgb(128 125 125 / 60%);
$--meetControl-black-1: rgb(0 0 0 / 30%);
$--meetControl-shadowBlack: rgb(50 51 52 / 67%);
$--meetControl-deepGray: #403f3f; // 深灰色 做看板或者按钮背景

// 卡牌
$--meetControl-card-gray-bgc: rgb(116 113 113 / 30%); // 灰色卡牌背景板
$--meetControl-card-gray-border: rgb(116 113 113 / 40%); // 灰色卡牌 边框
// 顶栏
$--meetControl-title-gray-border: rgb(55 55 55 / 40%); // 灰色 顶栏标题 边框
$--meetControl-title-gray-bgc: rgb(64 62 62 / 87%); // 灰色 顶栏标题  边框
// 模块背景
$--meetControl-model-bgc: rgb(0 0 0 / 30%); // 每个悬浮模块的背景色

// 字体颜色
$--meetControl-green-bgc: rgb(46 111 37 / 35%);
$--meetControl-gold-bgc: rgb(242 214 68 / 10%);
$--meetControl-font-green-normal: rgb(34 130 14);
$--meetControl-font-green-light: rgb(102 247 38);
$--meetControl-gold-light: #ffd74d; // 金色
$--meetControl-gold-normal: rgb(206 164 17 / 44%); // 金色
$--meetControl-primary-normal: #b08c11;
$--meetControl-sky-normal: #07fbe7;
