@font-face {
  font-family: YouSheBiaoTiHei;
  src: url("./YouSheBiaoTiHei.ttf");
}

@font-face {
  font-family: MetroDF;
  src: url("./MetroDF.ttf");
}

@font-face {
  font-family: DIN;
  src: url("./DIN.Otf");
}

@font-face {
  font-family: ROBOT;
  src: url("./robot.Otf");
}

@font-face {
  font-family: ROBOT;
  src: url("./robot.Otf");
}

@font-face {
  font-family: "DSI1";
  src: url("./DS-DIGI-1.ttf");
}

@font-face {
  font-family: "DSI2";
  src: url("./DS-DIGIB-2.ttf");
}

@font-face {
  font-family: "DSI3";
  src: url("./DS-DIGII-3.ttf");
}

@font-face {
  font-family: "DSI4";
  src: url("./DS-DIGIT-4.ttf");
}
