div,
p {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// 拖拽
.grid-container {
  display: grid;
  grid-template-rows: 33.3% 33.3% 33.3%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  width: 60vw;
  height: 100%;
  .item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #ffffff;
    cursor: move;
    border: 1px solid #e5e4e9;
  }
}
.item-1 {
  background-color: #87bba2;
}
.item-2 {
  background-color: #ff9b54;
}
.item-3 {
  background-color: #73628a;
}
.item-4 {
  background-color: #76c893;
}
.item-5 {
  background-color: #619b8a;
}
.item-6 {
  background-color: #55828b;
}
.item-7 {
  background-color: #427aa1;
}
.item-8 {
  background-color: #38a3a5;
}
.item-9 {
  background-color: #fcca46;
}
.chosen {
  border: 2px solid #89cffd !important;
}
.container {
  display: flex;
  width: 100%; // 90vw
  height: 100%;
  .components-lib {
    width: 15vw;
    .components {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      width: 14.5vw;
      height: 60vh;
      border: 1px solid #d1d2d2;
      border-radius: 10px;
      .select-component {
        width: 5vw;
        height: 5vh;
        padding: 0;
        margin: 0 1vh;
        line-height: 4vh;
        text-align: center;
      }
    }
  }
  .weather-component {
    color: #ffffff;
    background-color: #25cef5;
  }
  .media-component {
    color: #ffffff;
    background-color: #f43131;
  }
  .date-component {
    color: #ffffff;
    background-color: #0d9047;
  }
  .title-component {
    color: #ffffff;
    background-color: #e2cb1c;
  }
  .components-detail {
    width: 15vw;
    height: 100%;
    background-color: rgb(255 255 255 / 68%);
  }
}
.layout {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
}
.layout-middle {
  position: absolute;
  top: 0;
  right: 0;
  left: 200px;
  display: block;
  width: calc(100% - 200px);
  padding: 0;
  margin: 0;
  background-color: #38a3a5;
  .excel-designer {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
  }
}
.layout-right {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 200px;
  min-height: 99.98vh;
  padding: 20px;
  font-size: 14px;
  background: #ffffff;
  border-color: #e8eaec;
  border-left: 1px solid #dcdee2;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
