@import "../../../styles/modules/meetControl.scss";
@import "@/styles/var.scss";
.component_container {
  width: 100%;
  height: 85vh;
  overflow: hidden;
  color: #ffffff;
  .equipment_list {
    display: flex;
    width: 100%;
    height: 6vh;
    overflow-x: scroll;
    p {
      height: 5vh;
      padding: 0 0.5vw;
      margin: 0 2px;
      line-height: 5vh;
      cursor: pointer;
      background-color: $--meetControl-card-gray-bgc;
      border: 2px solid $--meetControl-card-gray-border;
    }
    .isActive {
      background-color: $main-color-primary-transparent;
      border: 2px solid $border-primary;
    }
  }
  .component_title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    overflow: hidden;
    line-height: 5vh;
    background-color: $--meetControl-title-gray-bgc;
    border: 1px solid $--meetControl-title-gray-border;

    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    .component_logo {
      width: 1.5vw;
      height: 1.5vw;
      margin-right: 0.5vw;
    }
    p {
      font-size: 1vw;
      text-align: center;
    }
    .button_box {
      position: absolute;
      top: 0;
      right: 5vw;
      z-index: 1;
      display: flex;
      align-items: center;
      height: 100%;
      button {
        width: 5vw;
        height: 4vh;
        margin: 0 1vw;
        color: #ffffff;
        background-color: rgb(255 255 255 / 15%);
        &:hover {
          background-color: rgb(255 255 255 / 38%);
        }
      }
    }
  }
  .component_main {
    max-width: 63vw; // 中间的盒子 最宽不过63
    background-color: $--meetControl-model-bgc;
    border: 2px solid rgb(255 255 255 / 10%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
