@import "@/styles/var.scss";

$sky-bgc: rgb(210 210 210 / 40%);
$border-line: $main-color-primary;
$yellow-bgc: rgb(159 124 43 / 23%);
$bs-card-bgc: rgb(255 255 255 / 5%);
$bs-card-bgc-blur: blur(5px);
$bs-card-border: rgb(255 255 255 / 60%);
$bs-card-shadow: 2px 2px 1px 1px rgb(4 0 0 / 63%);
* {
  box-sizing: border-box;
}
div,
p {
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.BS-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 1vw;
  color: $border-line;

  // background-color: aqua;
  background-image: url("./assets/images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  // animation: scale 30s infinite;
}

@keyframes scale {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 110% 110%;
  }
  100% {
    background-size: 100% 100%;
  }
}
#data-screen {
  .selectVip {
    color: #ffffff;
    background: $border-line;
    border: 1px solid $border-line;
  }
}
